---
layout: default
title: Legislativní návrh
rbar:
  #- calendar
  - fb
  - infobox  
description: Legislativní návrh Pirátů pro řešení problémů s exekucemi
keywords: exekuce, oddlužení, insolvence, exekutoři, parlament, legislativa
---

<div class="row">
  <div class="medium-12 large-8 columns">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner o-section-inner--leftBlock">
        <header class="o-section-header">
          <h1 class="o-section__heading t-h1-super">{{page.title}}</h1>
        </header>


<h2>Přečtěte si legislativní návrh Pirátů!</h2>

<ul>
  <li><a href="/assets/pdf/zneni-navrhu-lepsich-exekuci.pdf" class="c-emphasized-anchor">Konsolidované znění návrhu</a> <i class="fa fa-file-pdf-o" aria-hidden="true"></i></li> 
  <li><a href="/assets/pdf/duvodova-zprava-navrhu-lepsich-exekuci.pdf" class="c-emphasized-anchor">Důvodová zpráva</a> <i class="fa fa-file-pdf-o" aria-hidden="true"></i></li>
  <li><a href="/assets/pdf/caste-otazky-a-odpovedi-lepsich-exekuci.pdf" class="c-emphasized-anchor">Časté dotazy a odpovědi</a> <i class="fa fa-file-pdf-o" aria-hidden="true"></i></li>
</ul>


<h2>Co si myslí dotčení o&nbsp;návrhu Pirátů…?</h2>
<p class="text-justify"><em>„Pirátský návrh je ohromný krok dopředu. Pokud se Pirátům podaří tuto novelu přijmout, bude to největší počin, který by mohli udělat, protože novela exekučního řádu, která přijímá teritorialitu, je naprosto zásadním zákonem. Bez toho se u&nbsp;nás to prostředí nevyčistí.“</em></p>
<p>&ndash; Radek Hábl, ekonom a&nbsp;autor projektu <a href="http://mapaexekuci.cz" class="c-emphasized-anchor">mapaexekuci.cz</a></p>


<p class="text-justify"><em>„Pirátský návrh řešení se mi zdá dobrý, protože se zabývá myšlenkou teritoriality, která sama o&nbsp;sobě by mnohé problémy vyřešila.“</em></p>
<p>&ndash; Jiří Janečka, soudní exekutor</p>


<p class="text-justify"><em>„Vím, že se Piráti snaží zlepšit exekuční řád tak, aby člověk mohl fungovat důstojně, byl zařazen do společnosti a&nbsp;nebylo to pro něj likvidační.“</em></p>
<p>&ndash; Rostislav Mach, bývalý dlužník</p>

<p>Děkujeme, že jste dočetli až sem.</p>
<p>Snažíme se zapojovat veřejnost a dělat politiku pro 21. století. Děkujeme, že jste toho součástí.</p>

<h2>Kontaktní osoba</h2>
<p>Lukáš Kolářík, poslanec, <a href="mailto:lukas.kolarik@pirati.cz" class="c-emphasized-anchor">lukas.kolarik@pirati.cz</a>, tel.: +420 727 853 151</p>

    </section>
  </div>
  {% if page.rbar %}
  <div class="medium-12 large-4 columns">
    {% include right-bar/rbar.html param='rbar' %}
  </div>
  {% endif %}
</div>