---
layout: default
rbar:
  #- calendar
  - fb
  - infobox  
description: 
---

{% include homepage/banner.html
   title='Chceme nestranné a nezávislé exekutory'
   default='header/komunal-banner-large.png'
   mobile='header/komunal-banner-small.png'
   breakpoint=640
%}

<div class="row">
  <div class="medium-12 large-8 columns">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner o-section-inner--leftBlock">
        <header class="o-section-header">
          <h1 class="o-section__heading t-h1-super">Jak na spravedlivější exekuční systém?</h1>
        </header>

        <p><iframe width="100%" height="480" src="https://www.youtube.com/embed/gEcMdIC4xPg" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe></p>

        <p class="text-justify"><em>„V České republice je skoro 900 tisíc lidí v exekuci. Problém přitom nezatěžuje jen povinné (dlužníky) a jejich nejbližší rodinné okolí, ale i celou ekonomiku a všechny dotčené instituce. Současná praxe omezuje vymahatelnost práva; nároky věřitelů často zůstávají neuspokojeny, dotčené instituce jsou zahlceny administrativou a narušován je i základní ústavní požadavek na nestrannost exekutora a spravedlivý proces.</em></p> 
        <p class="text-justify"><em>Piráti pokládají téma exekucí za jednu ze svých klíčových agend, kterým se aktivně věnují, a nejinak tomu bude i v budoucnu. Navrhujeme sjednocení všech pohledávek pod jednoho exekutora, a to podle místa pobytu povinného. Toto opatření sníží náklady, zlepší komunikaci mezi exekutorem a povinným, zvýší vymahatelnost práva a rozbije klientelistické vazby mezi velkými obchodníky s pohledávkami a exekutory.“</em></p>
        <p>Lukáš Kolářík, poslanec Parlamentu České republiky</p>

        <h2>Novinky</h2>
        {% for article in site.posts limit: 6 %}
          {% include articles/horizontal-article.html article=article %}
        {% endfor %}
        <div class="c-article-listing__nextbox">
          <a href="{{'/aktuality/' | relative_url}}" rel="next" class="button expanded large">Další články</a>
        </div>
      </div>
    </section>
  </div>
  {% if page.rbar %}
  <div class="medium-12 large-4 columns">
    {% include right-bar/rbar.html param='rbar' %}
  </div>
  {% endif %}
</div>
