<script type="application/ld+json">{
 "@context": "http://schema.org",
 "@type": "BreadcrumbList",
 "itemListElement":[
{
    "@type": "ListItem",
    "position": 1,
    "item":{
       "@id": "https://pirati.cz",
       "name": "Piráti" }},
 {
    "@type": "ListItem",
    "position": 2,
    "item": {
       "@id": "https://www.pirati.cz/program/",
       "name": "Program"}},
 {
    "@type": "ListItem",
    "position": 3,
    "item": {
       "@id": "https://www.pirati.cz/program/psp2017/spravedlnost/",
       "name": "Spravedlnost"}},
 {
    "@type": "ListItem",
    "position": 4,
    "item":{
       "@id": "{{ site.url}}{{ page.url }}",
       "name": "{{ title }}"}}]
}</script>