---
layout: default
title: Důvody pro uzákonění
rbar:
  #- calendar
  - fb
  - infobox  
description: Důvody pro uzákonění Pirátského řešení exekucí
keywords: exekuce, oddlužení, insolvence, exekutoři, legislativa, zákon, návrh
---

<div class="row">
  <div class="medium-12 large-8 columns">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner o-section-inner--leftBlock">
        <header class="o-section-header">
          <h1 class="o-section__heading t-h1-super">{{page.title}}</h1>
        </header>


<h2>Vymahatelnost práva</h2>

<p class="text-justify">Vymoci pohledávku od povinného s vícečetnými exekucemi je v současné praxi téměř nereálné. I přesto tyto marné exekuce vznikají a hromadí se. Přijetím našeho návrhu by exekutor evidoval pro futuro všechny exekuce povinného a mohl by tak věřitele informovat o reálné šanci cokoliv vymoci. Navíc na straně povinných s vícečetnými exekucemi klesnou výdaje na správní řízení vedené pod jediným exekutorem, a tak se zvýší jejich motivace splácet své závazky.</p>

<h2>Zaměstnanost</h2>

<p class="text-justify">Pirátský návrh odstraní výrazné bariéry v zaměstnávání osob s vícečetnými exekucemi. Zaměstnavatelé již nebudou zatěžovaní komunikací s mnoha exekutory a řešením souvisejících problémů. Tím jim odpadne přebytečná administrativní práce související se zaměstnáním osob v exekuci.</p>

<h2>Lepší dostupnost</h2>

<p class="text-justify">Povinný zatížený dluhy bude mít svého exekutora v místě bydliště, čímž se mu zvýší šance svou životní situaci efektivně řešit. Nebude totiž nucen komunikovat s více exekutory zároveň, navíc často z druhého konce republiky. Osobní návštěva či splacení části dluhu v hotovosti už nebude nepřekonatelný problém.</p>

<h2>Dopady na společnost</h2>

<p class="text-justify">Zavedení teritoriality zlepšuje možnosti povinného řešit své dluhy. V případě snížení počtu dlužníků se tak sníží i celospolečenské náklady. Povinní jsou nezřídkakdy pobírateli nejrůznějších dávek určených na život v nouzi a také často unikají do šedých či černých zón ekonomiky.</p>

<h2>Odstranění klientelistických vazeb</h2>

<p class="text-justify">Velcí věřitelé, jejichž byznys spočívá ve skupování pohledávek, mívají exekutory zavázané smlouvami. Nově by exekutora určovat soud, což by vedlo k rozbití klientelistických vazeb mezi exekutory a velkými věřiteli.</p>

<h2>Nezávislost exekutorů</h2>

<p class="text-justify">Exekutor je vykonavatelem veřejné moci a jako takový musí rozhodovat především podle zákona, nezávisle na stranách sporu. Nevybíráme si soudce, policisty, úředníky… I exekutor by tedy měl být nestranný.</p>

    </section>
  </div>
  {% if page.rbar %}
  <div class="medium-12 large-4 columns">
    {% include right-bar/rbar.html param='rbar' %}
  </div>
  {% endif %}
</div>